<div class="result-card">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="jumbotron text-center">
      <h1 class="display-4 fw-bold">پیروزی انقلاب اسلامی ایران مبارک</h1>
      <p class="lead">برای شروع مسابقه کلیک کنید</p>
      <%= link_to "شروع مسابقه", question_path(Question.first), class: "btn btn-outline-success" %>
    </div>
  </div>
</div>
