<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-8">
      <div class="card result-card">
        <div class="card-body text-center">
        <div class="text-danger fw-bold">
    <p>تا خون در رگ ماست</p>
    <p>ایران میهن ماست</p>
  </div>
          <p class="card-title fw-bold">ممنون از شما!</p>
          <p class="card-text fw-bold">امتیاز شما:  <%= Question.count %> / <%= @score %></p>
        </div>
      </div>
    </div>
  </div>
</div>
